<header>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/profile">Mon Profil</a></li>
            <li><a href="/login">Se connecter</a></li>
            <li><a href="/register">Créer un compte</a></li>
        </ul>
    </nav>
</header>
