
<header class="main-header">
    <div class="container">
      <nav class="nav-container">
        <div class="logo">
          <a href="/">TechSolutions Pro</a>
        </div>
        <div class="nav-links">
          <a href="/services">Services</a>
          <a href="/about">À propos</a>
            <a href="/profile">Profile</a>
            <% if (user && user.admin) { %>
                <a href="/admin">Administration</a>
            <% } %>
           
            <% if (!user){ %>
            <a href="/login" class="button primary">Se connecter</a>
          <% } %>
          <% if (user) { %>
            <form action="/api/users/logout" method="post">
              <button type="submit" class="button primary">Se déconnecter</button>
            </form>
          <% } %>
        </div>
      </nav>
    </div>
  </header>
  