<div class="admin-container">
  <div class="admin-header">
    <h1>Administration</h1>
  </div>

  <!-- Affichage du rôle de l'utilisateur -->
  <p>Rôle : <strong><%= user.admin ? 'Administrateur' : 'Utilisateur' %></strong></p>

  <!-- Barre de recherche -->
  <div class="users-search-bar-container" id="users-search-bar">
    <form id="search-users-form" onsubmit="return false;">
      <input 
        type="search" 
        id="users-search" 
        class="users-search" 
        placeholder="Rechercher un utilisateur"
      >
    </form>
    <div id="search-results" class="search-results"></div>
  </div>

  <!-- Déconnexion -->
  <form action="/api/users/logout" method="post">
    <div class="buttons">
      <button type="submit" class="btn btn-secondary">Se déconnecter</button>
    </div>
  </form>
</div>
