
<div class="profile-container">
    <h1>Mon Profile</h1>
    <h1><%= isOwnProfile ? 'Mon Profil' : 'Profil de l\'utilisateur' %></h1>
    <p>Bienvenue sur la page de profile !</p>
    <% if (profile) { %>
    <p>Rôle : <strong><%= profile.admin ? 'Administrateur' : 'Utilisateur' %></strong></p>
    <p>Nom d'utilisateur : <strong><%= profile.username %></strong></p>
    <p>Email : <strong><%= profile.email %></strong></p>
<% } %>

    <form action="/api/users/logout" method="post">
        <div class="buttons">
            <a href="/edit-profile" class="btn">Modifier le profil</a>
            <button type="submit" class="btn">Se déconnecter</button>
        </div>
    </form>
</div>