
<div class="profile-container">
    <h1>Mon Profil</h1>
    <p>Bienvenue sur votre profil !</p>
    <p>Nom d'utilisateur : <strong><%= username %></strong></p>
    <p>Email : <strong><%= email %></strong></p>
    <form action="/api/users/logout" method="post">
        <div class="buttons">
            <a href="/edit-profile" class="btn">Modifier le profil</a>
            <button type="submit" class="btn">Se déconnecter</button>
        </div>
    </form>
</div>